body{
  margin: 0 0 !important;
}
.product-item{
  border: 1px solid #000;
  padding: 10px 0 30px 0;
  text-align: center;
  margin-bottom: 20px;
}
.form-check{
  margin-left: 10px !important;
}
button{
  margin-right: 10px !important;
}
#mainFooter{
  position: fixed;
  top: 93.5%;
  z-index: 100;
  background-color: rgba(255,255,255,.9);
  width: 100% !important;
  justify-self: center;
}
